.reviews-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.section-title {
    font-size: 36px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 20px;
}

.overall-rating {
    font-weight: 900;
    color: var(--primary-color);
}

.reviews-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: auto;
    /* Allow horizontal scrolling */
    scrollbar-width: none;
    /* Hide scrollbar on Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar on IE and Edge */
}

.reviews-carousel::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar on Webkit browsers (Chrome, Safari) */
}

.reviews {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    scroll-behavior: smooth;
}

.review-card {
    margin-bottom: 10px !important;
    background: #fff;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-width: 300px;
    max-width: 300px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.rating-number {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}

.stars {
    color: var(--primary-color);
    font-size: 24px;
}

.review-text {
    font-style: italic;
    color: #333;
    margin-bottom: 15px;
}

.review-author {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.verified-review {
    color: #666;
    font-size: 12px;
}

@media (max-width: 768px) {
    .reviews-carousel {
        flex-direction: column;
    }
}