.seoBannerContainer {
    background-image: url("../../../public/assets/singleService/branding/branding.jpg") !important;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 240px 0px 120px;
    position: relative;
}

.seoBannerContainer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    opacity: 0.6;
}

.white-curve-img,
.curved-bg-img {
    position: absolute;
    z-index: 1;
}

.white-curve-img {
    top: 0;
    right: 0;
    width: 150px;
    object-fit: cover;
}

.curved-bg-img {
    bottom: -10px;
    right: 0;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.seoBannerHeading {
    width: 100%;
    text-align: center;
    color: var(--white-color);
    font-size: 60px;
    text-transform: uppercase;
    position: relative;
    z-index: 2 !important;
    position: relative;
    font-weight: 900;
}

.seoBannerDescription {
    width: 100%;
    text-align: center;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 400;
    position: relative;
    z-index: 2 !important;
}

.seoBannerDescription>span {
    color: var(--primary-color);
    position: relative;
    z-index: 2 !important;
}


@media (max-width: 768px) {

    .seoBannerHeading {
        font-size: 40px;
    }

    .seoBannerDescription {
        font-size: 18px;
    }

    .white-curve-img {
        display: none !important;
    }

    .curved-bg-img {
        display: none !important;
    }

}