.agencySectionContainer {
    width: 100%;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    background-image: url("../../../public/assets/agency/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.left {
    width: 50%;
}

.agencySectionHeading {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    color: var(--text-color);
    font-size: 44px;
    font-weight: 900 !important;
}

.agencySectionHeading>span {
    color: var(--primary-color);
}

.right {
    width: 50%;
}

.agencySectionDescription {
    margin-top: 25px;
    width: 70% !important;
    text-align: left;
    color: var(--text-color);
    font-size: 20px;
    line-height: 1.5em;
}

.agencyImgContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    margin-top: 25px;
}

.img {
    width: 30%;
    border-radius: 50%;
    height: auto;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--text-color);
}

.listItem {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 15px;
}

.checkIcon {
    color: var(--primary-color) !important;
}

.navBar {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;

}

.navItem {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--text-color);
    font-weight: bold;
    border-top: 3px solid var(--primary-color);
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.5s, border-top 0.5s;
}

.navItem:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.navItem.active:before {
    transform: translateY(0);
}

.navItem:not(.active):before {
    transform: translateY(100%);
}

.navItem:not(.active):hover:before {
    transform: translateY(-100%);
}

.navItem.active {
    animation: slideFromTop 0.5s ease;
    background-color: var(--primary-color);

}

.tabContent {
    margin-top: 20px;
    width: 70%;
    text-align: left;
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.5em;
}

@media screen and (max-width: 1200px) {
    .agencySectionContainer {
        flex-direction: column;
        row-gap: 20px;
    }

    .left {
        width: 100%;
        padding-left: 0 !important;
    }

    .right {
        width: 100%;
    }

    .agencySectionDescription {
        width: 100% !important;
        text-align: center !important;
    }

    .tabContent>p {
        text-align: center !important;
    }

    .agencySectionHeading {
        text-align: center !important;
    }
}

@media screen and (max-width: 768px) {
    .agencySectionHeading {
        font-size: 30px !important;
        text-align: center !important;
    }

    .right {
        margin-top: 0 !important;
    }

    .agencySectionDescription {
        font-size: 16px !important;
    }

    .img {
        width: 50%;
    }

    .agencyImgContainer {
        flex-direction: column;
        row-gap: 20px;
    }

    .agencySectionContainer {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 500px) {
    .agencySectionHeading {
        text-align: center !important;
    }

    .agencySectionDescription {
        text-align: center !important;
    }

    .navItem {
        font-size: 7px;

    }

    .tabContent>p {
        font-size: 15px !important;
    }
}