* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
ul,
li,
button {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FBAA19;
    --secondary-color: #818181;
    --text-color: #222429;
    --white-color: #fff;
}